version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "daily"
      timezone: "Asia/Shanghai"
      time: "08:00"
    pull-request-branch-name:
      separator: "-"