# Private_ClashMeta_GEO_Config
# 自用 ClashMeta 内核配置 ，仅供参考，不可照抄
# 基于 GEOSITE & GEOIP
# y3_Talk
# update: 2025-12-08

# 远程代理集
proxy-providers:
  provider-1:
    url:
    type: http
    interval: 86400 # 24 小时自动更新
    health-check: { enable: true, url: "https://www.gstatic.com/generate_204", interval: 300 }
    filter: (?i)^(?!.*海外) # 清理一下订阅链接节点

# 全局配置
mixed-port: 7890
ipv6: true
allow-lan: true
log-level: info
mode: rule

# Meta 内核特性 https://wiki.metacubex.one/config/general
# 统一延迟
# 更换延迟计算方式,去除握手等额外延迟
unified-delay: true

# TCP 并发
# 同时对所有ip进行连接，返回延迟最低的地址
tcp-concurrent: true
# 管理面板
external-controller: "0.0.0.0:9090"
secret: "123456"
external-ui: "ui"
external-ui-url: "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip"
external-ui-name: "y3-ClashMeta"

geodata-loader: standard
geo-auto-update: true
geo-update-interval: 24

# 数据来源
# https://github.com/MetaCubeX/meta-rules-dat?tab=readme-ov-file
# https://github.com/Loyalsoldier/v2ray-rules-dat?tab=readme-ov-file
geodata-mode: true
geox-url:

  geoip: "https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat"
  # 这里使用了原版的 GeoSite 用于配合 Rules
  geosite: "https://testingcf.jsdelivr.net/gh/v2fly/domain-list-community@release/dlc.dat"
  mmdb: "https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.metadb"
  asn: "https://cdn.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/GeoLite2-ASN.mmdb"

find-process-mode: strict
keep-alive-interval: 1800

# 缓存
profile:
  store-selected: true
  store-fake-ip: true

# 自动同步时间以防止时间不准导致无法正常联网
ntp:
  enable: true
  # 是否同步至系统时间，需要 root/管理员权限
  write-to-system: false
  server: time.apple.com
  port: 123
  interval: 30

# 域名嗅探
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  override-destination: false
  sniff:
    HTTP:
      ports: 
        - 80
        - 8080-8880
    TLS:
      ports: 
        - 443
        - 8443
    QUIC:
      ports: 
        - 443
        - 8443
  force-domain:
    - +.v2ex.com
  skip-domain:
    - "Mijia Cloud"
    - "+.oray.com"
    - "+.push.apple.com"

tun:
  enable: false
  stack: mixed
  dns-hijack:
    - "any:53"
    - "tcp://any:53"
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true

# DNS
## 使用 DoH、DoT、DoQ 协议比传统基于 UDP 的查询更消耗系统资源，且延迟通常更高
dns:
  # 如为 false,则使用系统 DNS 解析
  enable: true
  # false 将返回 AAAA 的空结果
  ipv6: true
  enhanced-mode: fake-ip
  fake-ip-range: 28.0.0.1/8
  # 根据 fake-ip 模式返回假 IP
  # 默认 blacklist 模式 (即匹配的不返回,其余返回)
  fake-ip-filter:
    - geosite:connectivity-check # 需要配合原版 Geosite
    - geosite:private            # 需要配合原版 Geosite
    - +.push.apple.com
    - +.miwifi.com
    - +.market.xiaomi.com
  # 基础 DNS 服务器，必须先有它才能使用域名类型的 DNS 配置，因此必须为 IP
  # 可为加密 DNS。此处使用阿里云 DNS
  # 江苏电信部分可根据所在区域调整
  default-nameserver:
    - 223.5.5.5 # 阿里云
    - 218.2.2.2 # 江苏电信
  # 用于节点的域名解析,其他 DNS 如需过代理查询时则配置该项以防出现鸡蛋问题
  proxy-server-nameserver:
    - tls://223.5.5.5
    - tls://223.6.6.6
  # 配置后直连出站会使用它重新解析
  direct-nameserver:
    - https://doh.pub/dns-query
    - https://223.5.5.5/dns-query
    - https://doh.360.cn/dns-query
  # 在访问的国外网站没有匹配到任何域名规则
  # 最终走了 MATCH 兜底规则时使用的 DNS
  # 为了确保不发生 DNS 泄漏和 DNS 污染，建议使用国外 DNS
  # 默认域名解析
  # 如不配置 fallback/proxy-server-nameserver,则都由 nameserver 解析
  nameserver:
    - https://doh.pub/dns-query
    - https://1.0.0.1/dns-query

# 策略组
proxy-groups:
  - &proxy-groups_select
    name: 节点选择
    icon: https://fastly.jsdelivr.net/gh/Koolson/Qure/IconSet/Color/Proxy.png
    type: select
    proxies:
      - DIRECT
      - 香港自动
      - 日本自动
      - 美国自动

  - name: 漏网之鱼
    icon: https://fastly.jsdelivr.net/gh/Koolson/Qure/IconSet/Color/Final.png

  # --------------------- #
  # 以下地区筛选
  - &proxy-groups_url-test
    <<: *proxy-groups_select
    name: 香港自动
    type: url-test
    url: "https://www.gstatic.com/generate_204"
    icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure/IconSet/Color/Hong_Kong.png"
    include-all: true
    filter: "(?i)港|hk|hongkong|hong kong"
    hidden: false
    interval: 300
    lazy: true

  - <<: *proxy-groups_url-test
    name: 日本自动
    icon: https://fastly.jsdelivr.net/gh/Koolson/Qure/IconSet/Color/Japan.png
    filter: "(?i)日|jp|japan"

  - <<: *proxy-groups_url-test
    name: 美国自动
    icon: https://fastly.jsdelivr.net/gh/Koolson/Qure/IconSet/Color/United_States.png
    filter: "(?i)美|us|unitedstates|united states"

  # --------------------- #

# >>>分流规则
## 基于 GeoSite 写的分流规则，需要配合原版的 GeoSite使用，其中 geoip 部分沿用了 MetaCubeX 提供的数据。
rules:
  # == geosite 部分 == #
  # Custom
  - GEOSITE,github,香港自动
  - GEOSITE,apple,DIRECT
  - GEOSITE,microsoft,DIRECT
  # 笼统部分
  - GEOSITE,private,DIRECT # 私域
  - GEOSITE,geolocation-!cn@cn,DIRECT # 筛选国外的中国域名
  - GEOSITE,geolocation-!cn,节点选择 # 筛选国外域名
  - GEOSITE,geolocation-cn@!cn,节点选择 # 筛选国内中的国外域名
  - GEOSITE,geolocation-cn,DIRECT # 筛选国内域名
  - GEOSITE,tld-cn,DIRECT
  # == geoip 部分 == #
  - GEOIP,google,香港自动,no-resolve
  - GEOIP,private,DIRECT,no-resolve
  - GEOIP,jp,日本自动
  - GEOIP,cn,DIRECT,no-resolve
  # == 兜底为直连 == #
  - MATCH,漏网之鱼