# version: v2.1_beta
# updated at: 2025-12-20
# 主要改用了 checkout sparse-checkout 方法
# 改用 rules 分支管理
# 使用外部 shell 脚本处理规则文件
# 简化了整个 Github Action 流程
#
# UTC 22:00 (北京时间早 6:00 自动拉取) 
#
# 支持 ClashMeta 规则
# 支持 Surge 规则

name: 自动化规则下载 v2.1_beta

on:
  # schedule:
  #   - cron: '0 22 * * *'
  workflow_dispatch:

env:
  SURGE_GEOSITE_PATH: "geo/geosite/classical"


permissions:
  contents: write
  actions: write

jobs:
  rule_sync:
    runs-on: ubuntu-latest
    env:
      METACUBEX_BASE_DIR: "meta-rules-dat"
      METACUBEX_SURGE_PROXY_FILES: |
        geo/geosite/classical/missav.list
        geo/geosite/classical/javbus.list
        geo/geosite/classical/gfw.list
        geo/geosite/classical/pinterest.list
        geo/geosite/classical/github.list
        geo/geosite/classical/meta.list
        geo/geosite/classical/tld-!cn.list
        geo/geosite/classical/cloudflare.list
        geo/geoip/classical/cloudflare.list
        geo/geosite/classical/telegram.list
        geo/geoip/classical/telegram.list
        geo/geosite/classical/google.list
        geo/geoip/classical/google.list
      METACUBEX_SURGE_DIRECT_FILES: |
        geo/geosite/classical/icloud@cn.list
        geo/geosite/classical/apple@cn.list
        geo/geosite/classical/tesla@cn.list
        geo/geosite/classical/tencent.list
        geo/geosite/classical/xunlei.list
        geo/geosite/classical/tld-cn.list
        geo/geosite/classical/cn.list
        geo/geoip/classical/cn.list
        geo/geosite/classical/private.list
        geo/geoip/classical/private.list

      CUBEMETAX_CLASH_FILES: |
        geo/geosite/geolocation-!cn.yaml
        geo/geosite/cn.yaml
        geo/geosite/google.yaml
        geo/geosite/telegram.yaml
        geo/geosite/github.yaml
        geo/geosite/apple.yaml
        geo/geosite/meta.yaml
        geo/geosite/private.yaml
        geo/geosite/cloudflare.yaml
        # ip
        geo/geoip/cloudflare.yaml
        geo/geoip/cn.yaml
        geo/geoip/google.yaml
        geo/geoip/private.yaml
        geo/geoip/telegram.yaml


    steps:
      - name: 检出当前仓库 rules 分支
        uses: actions/checkout@v6
        with:
          path: rule_sync_temp
          ref: rules
          fetch-depth: 1

      - name: 检出 MetaCubeX 仓库 meta 分支
        uses: actions/checkout@v6
        with:
          repository: MetaCubeX/meta-rules-dat
          ref: meta
          fetch-depth: 1
          path: ${{ env.METACUBEX_BASE_DIR }}
          sparse-checkout: |
            ${{ env.METACUBEX_SURGE_DIRECT_FILES }}
            ${{ env.METACUBEX_SURGE_PROXY_FILES }}

          sparse-checkout-cone-mode: false

      - name: 检出 AWAvenue 仓库 main 分支
        uses: actions/checkout@v6
        with:
          repository: TG-Twilight/AWAvenue-Ads-Rule
          ref: main
          fetch-depth: 1
          path: AWAvenue-Ads-Rule
          sparse-checkout: |
            # ClashMeta
            # Filters/AWAvenue-Ads-Rule-Clash.yaml
            # Surge
            Filters/AWAvenue-Ads-Rule-Surge-RULE-SET.list
          sparse-checkout-cone-mode: false

      - name: 检出 Loyalsoldier/surge-rules 仓库 release 分支
        uses: actions/checkout@v6
        with:
          repository: Loyalsoldier/surge-rules
          ref: release
          fetch-depth: 1
          path: Loyalsoldier_surge-rules
          sparse-checkout: |
            ruleset/apple.txt
          sparse-checkout-cone-mode: false
 
      # - name: 整理 ClashMeta 规则
      #   run: |
      #     set -e
          
      #     echo "开始整理 ClashMeta 规则..."
      #     # 定义常量
      #     CLASHMETA_RULE_DIR="rule_sync_temp/ClashMeta"

      #     echo "清空 & 重建 ClashMeta 目录..."
      #     rm -rf $CLASHMETA_RULE_DIR
      #     mkdir -p $CLASHMETA_RULE_DIR/{domain,ip}
      #     echo "复制文件到目标目录..."
      #     find meta-rules-dat/geo/geosite -type f -name "*.yaml" -exec cp {} $CLASHMETA_RULE_DIR/domain/ \;
      #     find meta-rules-dat/geo/geoip -type f -name "*.yaml" -exec cp {} $CLASHMETA_RULE_DIR/ip/ \;

      #     # 秋风去广告
      #     # cp -r AWAvenue-Ads-Rule/Filters/AWAvenue-Ads-Rule-Clash.yaml rule_sync_temp/ClashMeta/domain/AWAvenue-Ads-Rule-Clash.yaml
          
      #     echo "✅ ClashMeta 规则整理完成"
          
      - name: 整理 Surge 规则
        run: |
          set -e

          echo "开始整理 Surge 规则..."
          rm -rf rule_sync_temp/Surge
          mkdir -p rule_sync_temp/Surge

          

          # 引入外部 shell 脚本
          curl -L -o merge_rules.sh https://raw.githubusercontent.com/yangtudou/Script/main/.github/merge_rules_beta.sh
          chmod +x merge_rules.sh
          source ./merge_rules.sh
          
          # proxy
          # 读取变量中的内容转化为数组
          readarray -t PROXY_RULES <<< "$METACUBEX_SURGE_PROXY_FILES"
          # 完善路径
          for index in "${!PROXY_RULES[@]}"; do
            echo "当前索引: $index"
            echo "索引对应的原始值: '${PROXY_RULES[$index]}'"
            PROXY_RULES[$index]="$METACUBEX_BASE_DIR/${PROXY_RULES[$index]}"
            echo "拼接后的新值: '$PROXY_RULES"
            echo "----"
          done
          # 合并到 y3_proxy_rules@surge.list
          # merge_rules "PROXY_RULES" "rule_sync_temp/Surge/y3_proxy_rules@surge.list"

          # direct
          # for i in $METACUBEX_SURGE_DIRECT_FILES; do
          #   merge_rules "$METACUBEX_BASE_DIR/$i" "rule_sync_temp/Surge/y3_direct_rules@surge.list"
          # done

          # AWAvenue-Ads-Rule
          merge_rules "AWAvenue-Ads-Rule/Filters/AWAvenue-Ads-Rule-Surge-RULE-SET.list" "rule_sync_temp/Surge"



      # - name: 统一添加时间戳
      #   run: |
      #     beijing_time=$(TZ='Asia/Shanghai' date +'%Y-%m-%d')
      #     find rule_sync_temp -type f \( -name "*.list" -o -name "*.yaml" \) -exec sed -i "1i # 更新时间: 北京时间 $beijing_time" {} \;
      
      - name: 提交变更
        working-directory: rule_sync_temp
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git checkout --orphan temp
          git branch -D rules
          git checkout --orphan rules
          
          git add .
          git commit -m "CI: Auto Update at 北京时间 $(TZ='Asia/Shanghai' date +'%Y-%m-%d')"
          git push -f origin rules

      - name: 清除工作流
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 0
