# version: v2.1_beta
# updated at: 2025-12-20
# 主要改用了 checkout sparse-checkout 方法
# 改用 rules 分支管理
# 使用外部 shell 脚本处理规则文件
# 简化了整个 Github Action 流程
#
# UTC 22:00 (北京时间早 6:00 自动拉取) 
#
# 支持 ClashMeta 规则
# 支持 Surge 规则

name: 自动化规则下载 v2.1_beta

on:
  # schedule:
  #   - cron: '0 22 * * *'
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  rule_sync:
    runs-on: ubuntu-latest
    steps:
      - name: 检出当前仓库 rules 分支
        uses: actions/checkout@v6
        with:
          path: rule_sync_temp
          ref: rules
          fetch-depth: 1

      - name: 检出 MetaCubeX 仓库 meta 分支
        uses: actions/checkout@v6
        with:
          repository: MetaCubeX/meta-rules-dat
          ref: meta
          fetch-depth: 1
          path: meta-rules-dat
          sparse-checkout: |
            # # ClashMeta yaml
            # ## domain
            # geo/geosite/geolocation-!cn.yaml
            # geo/geosite/cn.yaml
            # geo/geosite/google.yaml
            # geo/geosite/telegram.yaml
            # geo/geosite/github.yaml
            # geo/geosite/apple.yaml
            # geo/geosite/meta.yaml
            # geo/geosite/private.yaml
            # geo/geosite/cloudflare.yaml
            # ## ip
            # geo/geoip/cloudflare.yaml
            # geo/geoip/cn.yaml
            # geo/geoip/google.yaml
            # geo/geoip/private.yaml
            # geo/geoip/telegram.yaml
            # Surge list
            ## domain
            # geo/geosite/classical/category-porn.list
            geo/geosite/classical/missav.list
            geo/geosite/classical/javbus.list
            geo/geosite/classical/gfw.list
            geo/geosite/classical/pinterest.list
            geo/geosite/classical/cloudflare.list
            geo/geosite/classical/github.list
            geo/geosite/classical/google.list
            geo/geosite/classical/meta.list
            geo/geosite/classical/telegram.list
            ## DIRECT
            geo/geosite/classical/private.list
            geo/geosite/classical/icloud@cn.list
            geo/geosite/classical/apple@cn.list
            ## ip
            geo/geoip/classical/cloudflare.list
            geo/geoip/classical/google.list
            geo/geoip/classical/private.list
            geo/geoip/classical/telegram.list
          sparse-checkout-cone-mode: false

      # - name: 检出 AWAvenue 仓库 main 分支
      #   uses: actions/checkout@v6
      #   with:
      #     repository: TG-Twilight/AWAvenue-Ads-Rule
      #     ref: main
      #     fetch-depth: 1
      #     path: AWAvenue-Ads-Rule
      #     sparse-checkout: |
      #       # ClashMeta
      #       Filters/AWAvenue-Ads-Rule-Clash.yaml
      #       # Surge
      #       Filters/AWAvenue-Ads-Rule-Surge-RULE-SET.list
      #     sparse-checkout-cone-mode: false

      # - name: 检出 Loyalsoldier/surge-rules 仓库 release 分支
      #   uses: actions/checkout@v6
      #   with:
      #     repository: Loyalsoldier/surge-rules
      #     ref: release
      #     fetch-depth: 1
      #     path: Loyalsoldier_surge-rules
      #     sparse-checkout: |
      #       # Surge domain
      #       ruleset/apple.txt
      #     sparse-checkout-cone-mode: false
 
      # - name: 整理 ClashMeta 规则
      #   run: |
      #     set -e
          
      #     echo "开始整理 ClashMeta 规则..."
      #     # 定义常量
      #     CLASHMETA_RULE_DIR="rule_sync_temp/ClashMeta"

      #     echo "清空 & 重建 ClashMeta 目录..."
      #     rm -rf $CLASHMETA_RULE_DIR
      #     mkdir -p $CLASHMETA_RULE_DIR/{domain,ip}
      #     echo "复制文件到目标目录..."
      #     find meta-rules-dat/geo/geosite -type f -name "*.yaml" -exec cp {} $CLASHMETA_RULE_DIR/domain/ \;
      #     find meta-rules-dat/geo/geoip -type f -name "*.yaml" -exec cp {} $CLASHMETA_RULE_DIR/ip/ \;

      #     # 秋风去广告
      #     # cp -r AWAvenue-Ads-Rule/Filters/AWAvenue-Ads-Rule-Clash.yaml rule_sync_temp/ClashMeta/domain/AWAvenue-Ads-Rule-Clash.yaml
          
      #     echo "✅ ClashMeta 规则整理完成"
          
      - name: 整理 Surge 规则
        run: |
          set -e

          # echo "开始整理 Surge 规则..."
          # rm -rf rule_sync_temp/Surge
          # mkdir -p rule_sync_temp/Surge

          # echo "AWAvenue-Ads-Rule 规则到目标目录"
          # cp -r AWAvenue-Ads-Rule/Filters/AWAvenue-Ads-Rule-Surge-RULE-SET.list rule_sync_temp/Surge/AWAvenue-Ads-Rule-Surge-RULE-SET.list

          # 引入外部 shell 脚本
          curl -L -o merge_rules.sh https://raw.githubusercontent.com/yangtudou/Script/main/.github/merge_rules_beta.sh
          chmod +x merge_rules.sh
          source ./merge_rules.sh
          
          # 合并到 y3_proxy_rules@surge 的文件( 数组 )
          declare -a PROXY_RULES_MERGE=(
            "meta-rules-dat/geo/geosite/classical/google.list"
            "meta-rules-dat/geo/geosite/classical/meta.list"
            "meta-rules-dat/geo/geosite/classical/pinterest.list"
            "meta-rules-dat/geo/geosite/classical/github.list"
            "meta-rules-dat/geo/geosite/classical/cloudflare.list"
            "meta-rules-dat/geo/geosite/classical/javbus.list"
            "meta-rules-dat/geo/geosite/classical/missav.list"
            "meta-rules-dat/geo/geosite/classical/telegram.list"
            "meta-rules-dat/geo/geosite/classical/gfw.list"
            "meta-rules-dat/geo/geoip/classical/cloudflare.list"
            "meta-rules-dat/geo/geoip/classical/google.list"
            "meta-rules-dat/geo/geoip/classical/telegram.list"
          )

          declare -a DIRECT_RULES_MERGE=(
            "meta-rules-dat/geo/geosite/classical/icloud@cn.list"
            "meta-rules-dat/geo/geosite/classical/apple@cn.list"
          )

          merge_rules "PROXY_RULES_MERGE" "rule_sync_temp/Surge/y3_proxy_rules@surge.list"
          touch "rule_sync_temp/Surge/y3_direct_rules@surge.list"
          merge_rules "DIRECT_RULES_MERGE" "rule_sync_temp/Surge/y3_direct_rules@surge.list"

          merge_rules "meta-rules-dat/geo/geosite/classical/private.list" "rule_sync_temp/Surge"
          merge_rules "meta-rules-dat/geo/geoip/classical/private.list" "rule_sync_temp/Surge"



      # - name: 统一添加时间戳
      #   run: |
      #     beijing_time=$(TZ='Asia/Shanghai' date +'%Y-%m-%d')
      #     find rule_sync_temp -type f \( -name "*.list" -o -name "*.yaml" \) -exec sed -i "1i # 更新时间: 北京时间 $beijing_time" {} \;
      
      - name: 提交变更
        working-directory: rule_sync_temp
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git checkout --orphan temp
          git branch -D rules
          git checkout --orphan rules
          
          git add .
          git commit -m "CI: Auto Update at 北京时间 $(TZ='Asia/Shanghai' date +'%Y-%m-%d')"
          git push -f origin rules

      - name: 清除工作流
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 0
