# version: v2.0
# updated at: 2025-12-11
# 主要改用了 checkout sparse-checkout 方法
# 简化了整个 Github Action 流程


name: 自动化规则下载 v2.0

on:
  schedule:
    - cron: '0 22 * * *'  # UTC 22:00 (北京时间次日 6:00)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  rule_sync:
    runs-on: ubuntu-latest
    steps:
      - name: 检出当前仓库 rules 分支
        uses: actions/checkout@v6
        with:
          path: rule_sync_temp
          ref: rules
          fetch-depth: 1

      - name: 检出 MetaCubeX 仓库 meta 分支
        uses: actions/checkout@v6
        with:
          repository: MetaCubeX/meta-rules-dat
          ref: meta
          fetch-depth: 1
          path: meta-rules-dat
          sparse-checkout: |
            geo/geosite/geolocation-!cn.yaml
            geo/geosite/cn.yaml
            geo/geosite/google.yaml
            geo/geosite/telegram.yaml
            geo/geosite/github.yaml
            geo/geosite/apple.yaml
            geo/geosite/meta.yaml
            geo/geosite/private.yaml
            geo/geosite/cloudflare.yaml
            geo/geoip/cloudflare.yaml
            geo/geoip/cn.yaml
            geo/geoip/google.yaml
            geo/geoip/private.yaml
            geo/geoip/telegram.yaml
          sparse-checkout-cone-mode: false

      - name: 检出 AWAvenue 仓库 main 分支
        uses: actions/checkout@v6
        with:
          repository: TG-Twilight/AWAvenue-Ads-Rule
          ref: main
          fetch-depth: 1
          path: AWAvenue-Ads-Rule
          sparse-checkout: |
            Filters/AWAvenue-Ads-Rule-Clash.yaml
          sparse-checkout-cone-mode: false
 

      - name: 复制文件
        run: |
          mkdir -p rule_sync_temp/ClashMeta/{domain,ip}
          cp -r meta-rules-dat/geo/geosite/* rule_sync_temp/ClashMeta/domain/
          cp -r meta-rules-dat/geo/geoip/* rule_sync_temp/ClashMeta/ip/
          cp -r AWAvenue-Ads-Rule/Filters/AWAvenue-Ads-Rule-Clash.yaml rule_sync_temp/ClashMeta/domain/AWAvenue-Ads-Rule-Clash.yaml
          
          # 添加时间戳
          find rule_sync_temp/ClashMeta -type f -name "*.yaml" -exec sed -i "1i # 更新时间: $(date +'%Y-%m-%d') UTC+8" {} \;

      - name: 提交变更
        working-directory: rule_sync_temp
        run: |
          git config user.name "github-actions[Bot]"
          git config user.email "github-actions@users.noreply.github.com"
          
          git branch -D rules 2>/dev/null || true
          git checkout --orphan rules
          
          git add .
          git commit -m "CI Updated"
          git push -f origin rules